


<div class="container" id="home-container">
  <div class="jumbotron text-center text-maroon d-flex flex-column" style="height: 90vh;" >
    <h1 class="display-4"></h1>
    
    <hr class="my-4">
    
    <div class="mt-auto">
      <p class="lead">
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg bottom"  %>
      </p>
    </div>
  </div>
</div>


